*{
    margin: 0;
    padding: 0;

    background: black;
    color: white;

    width: auto;
}

.perfil{
    
    text-align: center;
    height: 500px;
}

#foto-perfil{
    margin: 0 auto;
    border-radius: 50%;
    height: 479px;
    width: auto;
}

.header{
    position: sticky;
    top: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 17px;
}

#lp{
    display: inline-block;
}

.menu{
    display: inline-block;
    margin-left: 50%;

}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

h1{
    margin: 15px auto;
    text-align: center;
    padding-bottom: 30px;
}

a{
    text-decoration: none;
}



.projetos table, td{
    max-width: 80%;
    margin: 0 auto;
    color: black;
    padding: 15px;
    padding-right: 30px;
    background: goldenrod;
    text-align: center;
}

.texto{
    max-width: 80%;
    margin: 0 auto;
    color: black;
    padding: 15px;
    padding-bottom: 30px;
    background: goldenrod;
    text-align: center;

}
.descricao{
    max-width: 480px;
}
.imagens{
    margin: 0 auto;
    max-width: 50%;
}
.contatos a{
    display: block;
    max-width: 80%;
    margin: 0 auto;
    color: black;
    padding: 15px;
    background: goldenrod;
    text-align: center;

}

footer p{
    width: 100%;
    margin-top: 10px;
    background: darkgray;
    text-align: center;
    font-size: 12px;
}
